.contact {
	.inner {
		padding: 90px 40px 70px;
		text-align: center;

		h3 {
			font-family: $secondary-font;
			color: $color-text;
			font-size: 14px;
			font-weight: 400;
			line-height: 26px;
		}

		.col-2 {
			text-align: left;
			width: 510px;
			margin: 0 auto;
			padding-bottom: 70px;

			.phones {
				width: 170px;
			}
		}

		form {
			height: 330px;
			width: 35%;
			margin: 0 auto;

			fieldset {
				position: relative;
				border: 0;
				padding-bottom: 15px;
				padding-top: 20px;
				min-height: 47px;

				&:not(.focused):not(.not-empty) {
					label {
						pointer-events: none;
					}
				}

				label {
					position: absolute;
					display: block;
					color: $color-text;
					top: 21px;
					transition: .2s;
					transition-property: top, font-size, color;
				}

				.control {
					display: block;
					width: 100%;
					height: 36px;
					border: solid #cccccc;
					border-width: 0 0 1px;
					outline: 0;
					background: transparent;
				}

				textarea {
					resize: none;
					transition: height .5s;
				}

				&.focused,
				&.not-empty {
					label {
						top: 0;
						font-size: 13px;
					}

					.control {
						outline: 0;
					}

					textarea {
						height: 90px;
					}
				}

				&.focused {
					label {
						color: $blue;
					}

					.control {
						border-color: $blue;
						border-bottom-width: 2px;
					}
				}
			}

			.error {
				color: #ff7777;

				span {
					font-size: 12px;
					position: absolute;
					right: 0;
				}

				.control {
					border-bottom: solid 2px #ff7777;
				}
			}

			.btn {
				margin-top: 10px;
			}
		}
	}

	.map {
		height: 300px;
		background: #d9d9d9;
	}
}

@media all and (max-width: 1200px) {
	.contact {
		.inner {
			form {
				width: 45%;
			}
		}
	}
}

@media all and (max-width: 960px) {
	.contact {
		.inner {
			padding: 70px 40px;

			form {
				width: 350px;
			}
		}
	}
}

@media all and (max-width: 700px) {
	.contact {
		.inner {
			padding: 50px 20px;

			.col-2 {
				width: 250px;
				flex-direction: column;
				text-align: center;

				.col {
					width: 100%;
				}
			}
		}
	}
}

@media all and (max-width: 500px) {
	.contact {
		.inner {
			form {
				width: 100%;
			}
		}
	}
}

