.orders {
	background: $grey;
	margin: 0 auto;
	max-width: 1400px;

	.inner {
		padding: $section-padding;

		.single-order {
			display: flex;
			justify-content: flex-start;

			& > div {
				width: 65%;
				padding-right: 90px;
			}

			aside {
				h4 {
					font-family: $secondary-font;
					font-weight: 400;
					font-size: 14px;
				}

				a {
					display: inline-block;
					text-align: center;
					color: $dark-blue;
					line-height: 90px;
					margin-right: 10px;
					height: 64px;
					width: 52px;
					background: url(../images/download-frame.svg) 0 0 no-repeat;
				}
			}
		}
	}
}
