// Sticky header.
.page-header {
	position: fixed;
	background: #ffffff;
	top: 0;
	z-index: 10;
	width: 100%;
	box-shadow: 0 1px 10px rgba( 0, 0, 0, .15 );

	.inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: $page-header-height;
	}

	.page-logo {
		margin: 0;

		a {
			display: block;

			img {
				display: block;
			}
		}
	}

	// General desktop menu styles.
	.page-nav {
		ul {
			transform: translate(0, 0);

			li {
				display: inline-block;
				padding-left: 30px;
				line-height: 2.4em;

				a {
					position: relative;
					color: $color-header;
					text-decoration: none;
					font-size: 12px;
					text-transform: uppercase;
					letter-spacing: .6px;
					font-weight: 500;
					padding: 8px;

					&:hover {
						&:before {
							opacity: 1;
							transition: opacity .8s;
						}
					}

					&:before {
						content: '';
						position: absolute;
						right: 6px;
						bottom: 12px;
						left: 6px;
						height: 1px;
						background: $color-text;
						opacity: 0;
					}
				}
			}
		}
	}
}

// Push page content below sticky header.
body {
	padding-top: $page-header-height;
}
