// General text styles.
body {
	font-family: $primary-font;
	color: $color-text;
}

// Headers styles.
h2, h3 {
	font-weight: 700;
	color: $color-header;
}

h2 {
	font-size: 40px;
	line-height: 54px;
}

// Link styles.
a {
	text-decoration: none;
	color: $color-link;

	&:hover {
		text-decoration: underline;
		color: $color-link-hover;
	}
}
