// Fonts Variables
$primary-font: 'Poppins', Helvetica, sans-serif;
$secondary-font: 'Work Sans', Georgia, serif;

// Layout.
$content-width: 1200px;
$page-header-height: 70px;

// Colors.
$blue: #5e60ff;
$dark-blue: #4b43ff;

// Text colors.
$color-header: #292929;
$color-text: #4b4b4b;

$color-link: #000;
$color-link-hover: #000;

// Breakpoints.
$breakpoint-mobile-navigation: 860px;
