.welcome {
	background-color: $blue;
	background-image: url(../images/bg-welcome-01.jpg), url(../images/bg-welcome-02.jpg);
	background-repeat: no-repeat;
	background-position: left, right;

	.inner {
		padding-top: 180px;
		padding-bottom: 180px;
		text-align: center;

		h2 {
			color: #ffffff;
		}

		p {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 480px;
			margin: 0 auto;
			padding-top: 20px;

			.btn {
				border-color: $dark-blue;
			}

			img {
				width: 200px;
			}
		}
	}
}
