.works {
	background: $grey;
	margin: 0 auto;
	max-width: 1400px;

	.inner {
		padding: $section-padding;

		ol li {
			list-style: decimal;
		}

		.list {
			padding-bottom: 30px;
		}
	}
}
@media all and (max-width: 960px) {
	.works {
		.inner {
			padding: $section-padding-960;
		}
	}
}

@media all and (max-width: 700px) {
	.works {
		.inner {
			padding: $section-padding-700;
		}
	}
}

.works-list {
	.inner {
		padding-top: 30px;
		padding-bottom: 30px;

		li {
			font-weight: 500;
			color: $color-header;

			ol li {
				font-weight: 400;
				color: $color-text;
			}
		}
	}
}

